<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script defer
    src="https://api-maps.yandex.ru/2.0-stable/?apikey=2a6520f2-9114-400a-9c7d-c0ac4d180183&load=package.full&lang=ru-RU"
    type="text/javascript"></script>
   
  <script defer src="js/main.js"></script>
</head>

<body>


  <a href="/login">login</a>
  <a href="/register">register</a>
  <a href="/main">main</a>
  <a href="/logout">logout</a>

  {{{body}}}

</body>

</html>
