<script defer src="/js/main.js"></script>
<div class="map">
  <div>
    <label>Ваша цель (в метрах):</label>
    <input id="dist" class="input__text" type="text" name="dist" />
  </div>
  <div id="map" style="width: 800px; height: 600px"></div>

  <div>
    <button class="input__button" id="createRoute">Построить маршрут</button>
    <button class="input__button" id="addRoute">Добавить маршрут</button>
  </div>


</div>
