<form action="/register" method="post">
  <div>
    <label>Имя пользователя:</label>
    <input class="input__text" type="text" name="username" />
  </div>
  <div>
    <label>Пароль:</label>
    <input class="input__text" type="password" name="password" />
  </div>
  <div>
    <button class="input__button" type="submit">Register</button>
  </div>
</form>
